extends layout

block content
  .w3-container
    h1 Gestão de filmes
    ul.w3-ul
      li
        a(href="http://localhost:3003/filmes") Listar filmes
      li
        a(href="http://localhost:3003/filmes/inserir") Inserir filme


