extends layout

block content
  .w3-container
    h1 Lista de filmes
    table.w3-table-all
      tr
        th Título
        th Ano
        th Visualizar Filme
        th Eliminar Filme
      each filme in lista
        tr
          td= filme.title
          td= filme.year
          td 
            a(href="http://localhost:3003/filmes/" + filme._id) 
                button.w3-button.w3-hover-white.w3-teal Ver Filme
          td 
            button.w3-button.w3-hover-white.w3-blue(onclick="eliminar('" + filme._id + "')") Eliminar
